html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-block {
  /* float: left;
  width: 100%;
  padding: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background: #d3d3d3;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  overflow: auto;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec h2 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 30px;
  color: #0069c0;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #6ec6ff;
  display: block;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #0069c0;
  color: #fff;
  font-weight: 600;
}

.login-icon {
  padding-left: 775px;
  padding-right: 775px;
  padding-top: 75px;
  /* text-align: center;
  margin-bottom: 75px; */
}

.login-anim {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  /* width: 50%;
  margin: 100px auto; */
}

.monkey-img {
  position: relative;
  top: 20px;
  left: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;  */
}

.hand-img {
  position: absolute;
  top: 0;
  left: 50;
  height: 200px;
  width: 40%;
  visibility: hidden;
}
