html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.register-block {
  /* float: left;
  width: 100%;
  padding: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background: #d3d3d3;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  overflow: auto;
}
.register-sec {
  padding: 15px 10px;
  /* padding: 50px 30px; */
  position: relative;
}
.register-sec h2 {
  /* margin-bottom: 30px; */
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 30px;
  color: #0069c0;
}
.register-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #6ec6ff;
  display: block;
  margin-top: 10px;
  /* margin-top: 20px; */
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #0069c0;
  color: #fff;
  font-weight: 600;
}

.register-anim {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.monkey-img {
  position: relative;
  top: 20px;
  left: 0;
}

.hand-img {
  position: absolute;
  top: 0;
  left: 50;
  height: 200px;
  width: 40%;
  visibility: hidden;
}
